.tr-green {
    color: #67B68C!important;
}

.bg-green,.bg-success {
    background-color: #67B68C!important;
}

.tr-red {
    color: #D04F45;
}

.tr-light-green {
    color: #e5e7db;
}

.bg-light-green {
    background-color: #e5e7db;
}

.tr-light-gray {
    color: #FAF8F1;
}

.tr-gray-one,
.tr-black {
    color: #212121;
}

.tr-gray-two {
    color: #424242;
}

.tr-gray-three {
    color: #616161;
}

.tr-gray-four {
    color: #757575;
}

.tr-gray-five {
    color: #9E9E9E;
}

.tr-gray-six {
    color: #BDBDBD;
}

.tr-gray-seven {
    color: #E0E0E0;
}

.tr-gray-eight {
    color: #EEEEEE;
}

.tr-gray-nine {
    color: #F5F5F5;
}

.tr-gray-ten {
    color: #FAFAFA;
}

.btn-green {
    border-radius: 6px;
    background-color: #67b68c;
    color: white;
    border: 0;
}

.box-shadow{
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.161);
}


.btn-outline-green {
  background: transparent;
  border-radius: 6px;
  border: solid 1px #5a9d79;
  color: #5a9d79;
}
.btn-gray{
  height: 36px;
  padding: 0 35px;
  background: #E5E7DB;
  border-radius: 6px;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  color: #424242;
}
.btn-green-md {
  width: 160px;
  height: 36px;
  opacity: 0.95;
  border-radius: 6px;
  background-color: #67B68C;
  color: white;
  border: 0;
}
.btn-outline-green-md {
  width: 160px;
  height: 36px;
  opacity: 0.95;
  border-radius: 6px;
  background: transparent;
  border: solid 1px #5a9d79;
  color: #5a9d79;

}
.formulate-input {
  // global wrapper styles
  font-family: Montserrat-Medium;
  color: #616161;
  li{
    list-style-type: none!important;

  }

  .formulate-input-label {
    // global label styles
    font-size: 14px;
    color: #757575;


  }

  .formulate-input-element {
    // Global field-level wrapper styles
  }

  .formulate-input-help {
    // Global help text styles
    font-size: 12px;
    color: #757575;

  }

  .formulate-input-errors {
    // Global error message list wrapper
  }

  .formulate-input-error,
  .formulate-file-upload-error {
    // Error message styles
  }

  .formulate-input-group-item {
    // Group of items (like list of checkboxes) wrapper
  }
  input{
    width: 100%;
    padding: 0 25px;
    height: 35px;
    border-radius: 6px;
    color: #616161;
    border: 0;
    font-size: 12px;
    margin-bottom: 15px;
  }

  // Text inputs
  // -----------------------------------------------------------------------------

  &[data-classification='text'] {
    input {
      // Style all text-like input elements
    }
  }

  // Slider inputs
  // -----------------------------------------------------------------------------

  &[data-classification='slider'] {
    input {
      // Style range inputs
    }
  }

  // Textarea inputs
  // -----------------------------------------------------------------------------

  &[data-classification='textarea'] {
    textarea {
      width: 100%;
      padding: 5px;
      border-radius: 6px;
      color: #616161;
      border: 0;
      font-size: 12px;
      margin-bottom: 15px;
    }

  }

  // Button inputs
  // -----------------------------------------------------------------------------

  &[data-classification='button'] {
    button {
      // Style button inputs
      width: auto;
      padding: 10px 45px;
      border-radius: 6px;
      background-color: #67B68C;
      color: white;
      border: 0;
    }
  }

  // Select lists
  // -----------------------------------------------------------------------------

  &[data-classification='select'] {
    select {
      // Style select lists
    }
  }


  // Box inputs
  // -----------------------------------------------------------------------------

  &[data-classification='box'] {
    .formulate-input-element {
      // Box input (checkbox and radio) wrapper (might want flex here)
      input {
        // Style box element itself
      }
    }
  }


  // File inputs
  // -----------------------------------------------------------------------------

  &[data-classification="file"] {
    .formulate-input-upload-area {
      input {
        // The actual upload element
      }
    }
  }


  // Image uploads
  // -----------------------------------------------------------------------------

  [data-type="image"] {
    // image uploads
  }
}


// Form-level errors
// -----------------------------------------------------------------------------

.formulate-form-errors {
  color: red;
  font-size: 12px;
  .formulate-form-error {

  }
}
.formulate-input-error{
  color: #D04F45;
  font-size: 12px;}
