@import "scss/home";
@import "scss/animation";
@import "assets/scss/color";
@import "../assets/scss/header";
//@font-face {
//  font-family:MontserratAlternatesBlack;
//  //noinspection CssUnknownTarget
//  src: url("../../assets/fonts/MontserratAlternatesBlack.otf");
//}

@font-face {
  font-family: MontserratAlternates-BlackItalic;
  src: url("../assets/fonts/MontserratAlternates-BlackItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Bold;
  src: url("../assets/fonts/MontserratAlternates-Bold.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-BoldItalic;
  src: url("../assets/fonts/MontserratAlternates-BoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ExtraBold;
  src: url("../assets/fonts/MontserratAlternates-ExtraBold.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ExtraBoldItalic;
  src: url("../assets/fonts/MontserratAlternates-ExtraBoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ExtraLight;
  src: url("../assets/fonts/MontserratAlternates-ExtraLight.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ExtraLightItalic;
  src: url("../assets/fonts/MontserratAlternates-ExtraLightItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Italic;
  src: url("../assets/fonts/MontserratAlternates-Italic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-LightItalic;
  src: url("../assets/fonts/MontserratAlternates-LightItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Medium;
  src: url("../assets/fonts/MontserratAlternates-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-MediumItalic;
  src: url("../assets/fonts/MontserratAlternates-MediumItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Regular;
  src: url("../assets/fonts/MontserratAlternates-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-SemiBold;
  src: url("../assets/fonts/MontserratAlternates-SemiBold.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-SemiBoldItalic;
  src: url("../assets/fonts/MontserratAlternates-SemiBoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Thin;
  src: url("../assets/fonts/MontserratAlternates-Thin.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ThinItalic;
  src: url("../assets/fonts/MontserratAlternates-ThinItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Black;
  src: url("../assets/fonts/Montserrat-Black.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-BlackItalic;
  src: url("../assets/fonts/Montserrat-BlackItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../assets/fonts/Montserrat-Bold.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url("../assets/fonts/Montserrat-BoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../assets/fonts/Montserrat-ExtraBold.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url("../assets/fonts/Montserrat-ExtraBoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("../assets/fonts/Montserrat-ExtraLight.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url("../assets/fonts/Montserrat-ExtraLightItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Italic;
  src: url("../assets/fonts/Montserrat-Italic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../assets/fonts/Montserrat-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-LightItalic;
  src: url("../assets/fonts/Montserrat-LightItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../assets/fonts/Montserrat-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url("../assets/fonts/Montserrat-MediumItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../assets/fonts/Montserrat-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../assets/fonts/Montserrat-SemiBold.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url("../assets/fonts/Montserrat-SemiBoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Thin;
  src: url("../assets/fonts/Montserrat-Thin.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ThinItalic;
  src: url("../assets/fonts/Montserrat-ThinItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Black;
  src: url("../assets/fonts/MontserratAlternatesBlack.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-BlackItalic;
  src: url("../assets/fonts/MontserratAlternates-BlackItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Bold;
  src: url("../assets/fonts/MontserratAlternates-Bold.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-BoldItalic;
  src: url("../assets/fonts/MontserratAlternates-BoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ExtraBold;
  src: url("../assets/fonts/MontserratAlternates-ExtraBold.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ExtraBoldItalic;
  src: url("../assets/fonts/MontserratAlternates-ExtraBoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ExtraLight;
  src: url("../assets/fonts/MontserratAlternates-ExtraLight.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ExtraLightItalic;
  src: url("../assets/fonts/MontserratAlternates-ExtraLightItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Italic;
  src: url("../assets/fonts/MontserratAlternates-Italic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-LightItalic;
  src: url("../assets/fonts/MontserratAlternates-LightItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Medium;
  src: url("../assets/fonts/MontserratAlternates-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-MediumItalic;
  src: url("../assets/fonts/MontserratAlternates-MediumItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Regular;
  src: url("../assets/fonts/MontserratAlternates-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-SemiBold;
  src: url("../assets/fonts/MontserratAlternates-SemiBold.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-SemiBoldItalic;
  src: url("../assets/fonts/MontserratAlternates-SemiBoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-Thin;
  src: url("../assets/fonts/MontserratAlternates-Thin.otf");
  font-weight: normal;
}

@font-face {
  font-family: MontserratAlternates-ThinItalic;
  src: url("../assets/fonts/MontserratAlternates-ThinItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Black;
  src: url("../assets/fonts/Montserrat-Black.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-BlackItalic;
  src: url("../assets/fonts/Montserrat-BlackItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../assets/fonts/Montserrat-Bold.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url("../assets/fonts/Montserrat-BoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../assets/fonts/Montserrat-ExtraBold.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url("../assets/fonts/Montserrat-ExtraBoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("../assets/fonts/Montserrat-ExtraLight.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url("../assets/fonts/Montserrat-ExtraLightItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Italic;
  src: url("../assets/fonts/Montserrat-Italic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../assets/fonts/Montserrat-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-LightItalic;
  src: url("../assets/fonts/Montserrat-LightItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../assets/fonts/Montserrat-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url("../assets/fonts/Montserrat-MediumItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../assets/fonts/Montserrat-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../assets/fonts/Montserrat-SemiBold.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url("../assets/fonts/Montserrat-SemiBoldItalic.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-Thin;
  src: url("../assets/fonts/Montserrat-Thin.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat-ThinItalic;
  src: url("../assets/fonts/Montserrat-ThinItalic.otf");
  font-weight: normal;
}

.MontserratAlternates-Black {
  font-family: MontserratAlternates-Black;


}

.MontserratAlternates-BlackItalic {
  font-family: MontserratAlternates-BlackItalic;


}

.MontserratAlternates-Bold {
  font-family: MontserratAlternates-Bold;


}

.MontserratAlternates-BoldItalic {
  font-family: MontserratAlternates-BoldItalic;


}

.MontserratAlternates-ExtraBold {
  font-family: MontserratAlternates-ExtraBold;


}

.MontserratAlternates-ExtraBoldItalic {
  font-family: MontserratAlternates-ExtraBoldItalic;


}

.MontserratAlternates-ExtraLight {
  font-family: MontserratAlternates-ExtraLight;


}

.MontserratAlternates-ExtraLightItalic {
  font-family: MontserratAlternates-ExtraLightItalic;


}

.MontserratAlternates-Italic {
  font-family: MontserratAlternates-Italic;


}

.MontserratAlternates-LightItalic {
  font-family: MontserratAlternates-LightItalic;


}

.MontserratAlternates-Medium {
  font-family: MontserratAlternates-Medium;


}

.MontserratAlternates-MediumItalic {
  font-family: MontserratAlternates-MediumItalic;


}

.MontserratAlternates-Regular {
  font-family: MontserratAlternates-Regular;


}

.MontserratAlternates-SemiBold {
  font-family: MontserratAlternates-SemiBold;


}

.MontserratAlternates-SemiBoldItalic {
  font-family: MontserratAlternates-SemiBoldItalic;


}

.MontserratAlternates-Thin {
  font-family: MontserratAlternates-Thin;


}

.MontserratAlternates-ThinItalic {
  font-family: MontserratAlternates-ThinItalic;


}

.Montserrat-Black {
  font-family: Montserrat-Black;


}

.Montserrat-BlackItalic {
  font-family: Montserrat-BlackItalic;


}

.Montserrat-Bold {
  font-family: Montserrat-Bold;


}

.Montserrat-BoldItalic {
  font-family: Montserrat-BoldItalic;


}

.Montserrat-ExtraBold {
  font-family: Montserrat-ExtraBold;


}

.Montserrat-ExtraBoldItalic {
  font-family: Montserrat-ExtraBoldItalic;


}

.Montserrat-ExtraLight {
  font-family: Montserrat-ExtraLight;


}

.Montserrat-ExtraLightItalic {
  font-family: Montserrat-ExtraLightItalic;


}

.Montserrat-Italic {
  font-family: Montserrat-Italic;


}

.Montserrat-Light {
  font-family: Montserrat-Light;


}

.Montserrat-LightItalic {
  font-family: Montserrat-LightItalic;


}

.Montserrat-Medium {
  font-family: Montserrat-Medium;


}

.Montserrat-MediumItalic {
  font-family: Montserrat-MediumItalic;


}

.Montserrat-Regular {
  font-family: Montserrat-Regular;


}

.Montserrat-SemiBold {
  font-family: Montserrat-SemiBold;


}
ul{
  padding-left:0 ;
}
.Montserrat-SemiBoldItalic {
  font-family: Montserrat-SemiBoldItalic;


}

.Montserrat-Thin {
  font-family: Montserrat-Thin;


}

.Montserrat-ThinItalic {
  font-family: Montserrat-ThinItalic;


}

.pointer-event:hover {
    cursor: pointer!important;
}

p,
a,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: Montserrat-Medium;
}

.list-style-none {
    list-style-type: none;
}

html {
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: #faf8f1!important;
    font-family:Montserrat-Medium;
    min-height: 100vh;
    #__layout>div {
        background: #faf8f1!important;
        min-height: 100vh;
    }
}

.page-enter-active,
.page-leave-active {
    transition: opacity .2s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.social {
    .nav-item svg {
        font-size: 18px!important;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;

        letter-spacing: normal;
        text-align: center;
        color: #424242!important;
    }
}

.connect-button {
    width: 128px;
    height: 32px;
    border-radius: 20px;
    background-color: #424242;
    font-family: Montserrat-Black;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
    color: #f5f5f5;
}

.pointer-event:hover,
.pointer-event:focus,
.pointer-event:active,
.pointer-event {
    cursor: pointer;
}
#example-datepicker__value_{
  font-size: 14px;
  color: #616161;
  font-family:Montserrat-Medium ;
  height: 36px;

  padding: 7.5px 0px;
}
.param {
    font-size: 14px;
    font-weight: 500;
}

.param-sm {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
}

.font-weight-bolder {
    font-weight: 900;
}
.font-weight-bold{
  font-weight: 700;

}

.param-sm-light {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
}

.param-md {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
}

.param-md-light {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: 1.5px;
}

.param-lg {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
}
.vue-typer{
    color: #67B68C!important;
    min-width: 184px!important;
    display: inline-block;
  text-align: center;

  span{
    color: #67B68C!important;

  }
}
.param-lg-bold {
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
    font-weight: bold;
}

.param-md-bold {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
}

.param-xl {
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
}

.title-md {
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;

}
.param-18{
  font-size: 18px;
}
.title-sm {
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
    color: #616161;
}
body{
  overflow-x: hidden;
}

option {
    background-color: #faf8f1!important;
}

@media (min-width: 1281px) {
    //CSS
}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 769px) and (max-width: 1024px) {
    //CSS
}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

  //CSS

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  body{
    overflow-x: hidden!important;
  }


  .headers.container .navbar-nav{
    .form-inline{
      justify-content: flex-end;
    }
  }


  .param {
    font-size: 12px;
  }

  .param-sm {
    font-size: 10px;
  }

  .param-sm-light {
    font-size: 12px;
  }

  .param-md {
    font-size: 12px;

  }

  .param-md-light {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: 1.5px;
  }

  .param-lg {
    font-size: 14px;
  }
  .vue-typer{
    color: #67B68C!important;
    min-width: 88px!important;
    display: inline-block;
    text-align: center;


    span{
      color: #67B68C!important;
      font-size: 13px;

    }
  }
  .param-lg-bold {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
    font-weight: bold;
  }

  .param-md-bold {
    font-size: 14px;
  }

  .param-xl {
    font-size: 16px;
  }
.dir-rtl{
  direction: rtl;
}
  .title-md {
    font-size: 16px;
  }

  .title-sm {
    font-size: 16px;
  }


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 100px) and (max-width: 768px) {
  body{
    overflow-x: hidden!important;
  }


  .headers.container .navbar-nav{
    .form-inline{
      justify-content: flex-end;
    }
    }


  .param {
    font-size: 12px;
  }

  .param-sm {
    font-size: 10px;
  }

  .param-sm-light {
    font-size: 12px;
  }

  .param-md {
    font-size: 12px;

  }
  .param-18 {
    font-size: 12px;

  }

  .param-md-light {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: 1.5px;
  }

  .param-lg {
    font-size: 14px;
  }
  .vue-typer{
    color: #67B68C!important;
    min-width: 88px!important;
    display: inline-block;
    text-align: center;


    span{
      color: #67B68C!important;
      font-size: 13px;

    }
  }
  .param-lg-bold {
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;

    letter-spacing: normal;
    font-weight: bold;
  }

  .param-md-bold {
    font-size: 14px;
  }

  .param-xl {
    font-size: 16px;
  }

  .title-md {
    font-size: 16px;
  }

  .title-sm {
    font-size: 16px;
  }

}
